---
layout: page
title: Publications
---
<h1 class="mt-4">Submitted Preprints</h1>
{% assign preprints = site.preprints | sort: "year" | reverse %}
{% for pub in preprints %}
<div class="pubitem">
  <div class="pubtitle"><b>{{ pub.title }}</b></div>
  <div class="pubauthors">{{ pub.authors }}</div>
  <div class="pubinfo">{{ pub.publication }}, {{ pub.year}}</div>
  <div class="publinks">
  <a href="/papers/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i>pdf</a
  >&nbsp;&nbsp;
  <a href="/cite/{{ pub.slug}}.bib"><i class="far fa-file-bib"></i>cite</a>
  </div>
  
</div>
{% endfor %}
<br>

<h1 class="mt-4">Journal Articles</h1>
{% assign papers = site.papers | sort: "year" | reverse %}
{% for pub in papers %}
<div class="pubitem">
  <div class="pubtitle"><b>{{ pub.title }}</b></div>
  <div class="pubauthors">{{ pub.authors }}</div>
  <div class="pubinfo">{{ pub.publication }}, {{ pub.year}}</div>
  <div class="publinks">
  <a href="/papers/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i>pdf</a
  >&nbsp;&nbsp;
  <a href="{{pub.doi}}"><i class="fas fa-link"></i>doi</a>&nbsp;&nbsp;
  <a href="/cite/{{ pub.slug}}.bib"><i class="far fa-file-bib"></i>cite</a>
  </div>
</div>
{% endfor %}
<br>

<h1 class="mt-4">Conference Proceedings</h1>
{% assign conferences = site.conferences | sort: "year" | reverse %}
{% for pub in conferences %}
<div class="pubitem">
  <div class="pubtitle"><b>{{ pub.title }}</b> ({{ pub.annotation }}) </div> 
  <div class="pubauthors">{{ pub.authors }}</div>
  <div class="pubinfo">{{ pub.publication }}, {{ pub.year}}</div>
  <div class="publinks">
  <a href="/papers/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i>pdf</a
  >&nbsp;&nbsp;
  <a href="/cite/{{ pub.slug}}.bib"><i class="far fa-file-bib"></i>cite</a>
  </div>
</div>
{% endfor %}


