@use "sass:color";

// Define defaults for each variable.
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 24px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$link-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
$grey-color-dark: color.adjust($grey-color, $lightness: -25%) !default;

// Width of the content area
$content-width: 860px !default;

$on-palm: 600px !default;
$on-laptop: 860px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: math.div($spacing-unit, 2);
//     padding-left: math.div($spacing-unit, 2);
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
