// Define defaults for each variable.

$base-font-family: Georgia, serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;

$spacing-unit:     24px !default;

$text-color:       #3E4349 !default;
$background-color: #fff !default;
$link-color:       #004B6B !default;
$link-hover-color: #6D4100 !default;

$grey-color:       #888 !default;
$grey-color-light: #EEE !default;
$grey-color-dark:  #444 !default;
$code-bg-color:    #ecf0f3 !default;
$code-text-color:  #222 !default;

// Width of the content area
$content-width:    860px !default;

$on-palm:          600px !default;
$on-laptop:        860px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials.
@import
  "academic-minima/base",
  "academic-minima/layout",
  "academic-minima/syntax-highlighting"
;
